*{ 
    user-select: none;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.navegador {
    background-color: #ff3366; /* Fondo en un color llamativo */
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.navegador ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navegador li {
    display: inline;
    margin-right: 30px;
}

.navegador a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    font-size: 1.5em; /* Tamaño de fuente más grande */
    letter-spacing: 2px; /* Espaciado entre letras */
    transition: color 0.4s ease-in-out;
}

.navegador a:hover {
    color: #cbdee3; /* Cambia a un color más brillante al pasar el mouse */
}
#titulo1{
    font-size: 5vw;
}

.texto {
    text-align: center;
    margin: 20px;
    padding: 20px;
    display: flex; /* Alineación horizontal */
    align-items: center; /* Alineación vertical */
}

.texto img {
    max-width: 20%;
    height: auto;
    margin-left: 100px;
    margin-right: 20px; /* Espacio entre la imagen y el texto */
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.texto h1 {
    color: #333;
    font-size: 5vw;
}

.text2 {
    
    text-align: center;
    margin: 40px;
    margin-top: 100px;
    padding: 20px;
    
    background-color: #ffdee6;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.text2 h1 {
    color: #333;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 10px;
}

.text2 p {
    color: #555;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.6;
}

.text2::before {
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    background-color: #333;
    margin: 0 auto 20px;
}

.text2 img {
    max-width: 30px;
    height: auto;
    border-radius: 50%;
}
.text2 li{
    list-style: none;
    display: flex;
    justify-content: center;
}


.dark-mode body {
    background-color: #333;
    color: #fff;
}

.dark-mode .navegador {
    background-color: #333;
}

.dark-mode .navegador a {
    color: #fff;
}

#dark-mode-toggle {
    position: fixed;
    left: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}

#especial{
    color: rgb(0, 204, 255);
}